@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$font-color:                 #004884;
$font-family-gov:            Montserrat;
$font-family-contents:       Work Sans;
$font-size:                  1rem;
$font-size-peq:              0.8rem;

// Colors
$title-color:                #004884;
$call-color:                 #3366CC;
$dropdowns-color:            #E6EFFD;
$separators-color:           #F6F8F9;
$separators-color:           #F6F8F9;
$text-captions-color:        #4B4B4B;
$desactivated-button-color:  #BABABA;
$inactivated-button-color:   #F2F2F2;
$button-dark-back-color:     #FFFFFF;
$text-error-color:           #A80521;
$label-ok-color:             #F3561F;
$label-built-color:          #FFAB00;
$label-active-color:         #069169;
$lines-color:                #004884;
$internal-color:             #92CE0B;
$internal-second-color:      #DCEDC4;
$link-color:                 #0d6efd;
$box-shadow:                 #CCDFCA;
$registers:                  #F7F8F9;
